<div>
	<div class="dump_day">
		<% @days.each do |day| %>
			<p><%= day.date.strftime("%a, %d %b %Y") %></p><br>
			<table>
				<tr>
					<th>Company</th>
					<th>Tweets</th>
					<th>Error?</th>
					<th>Updated</th>
					<th>Shares</th>
					<th>Error?</th>
					<th>Updated</th>
				</tr>		
				<% @companies.each do |company| %>
					<% tweets = company.daily_totals.find_by(day: day) %>
					<% shares = company.share_prices.find_by(day: day) %>
					<tr>
						<td><%= company.name %></td>
						<td><%= tweets.count if tweets %></td>
						<td><%= tweets.error if tweets %></td>
						<td><%= tweets.updated_at if tweets %></td>
						<td><%= shares.price.to_f.round(2) if shares %></td>
						<td><%= shares.error if shares %></td>
						<td><%= shares.updated_at if shares %></td>
					</tr>
					<tr></tr>
				<% end %>
			</table>
		<% end %>
	</div>
</div>